@font-face {
    // ***** ***** Gotham ***** *****
    // ***** Gotham Black *****
    font-family: "gotham-black";
    src:    url("/assets/config/fonts/gotham/Gotham-Black.otf") format("otf");
    // ***** Gotham Bold *****
    font-family: "gotham-bold";
    src:    url("/assets/config/fonts/gotham/Gotham-Bold.otf") format("otf"),
            url("/assets/config/fonts/gotham/GothamBold.ttf") format("ttf");
    // ***** Gotham Bold Italic *****
    font-family: "gotham-bold-italic";
    src:    url("/assets/config/fonts/gotham/GothamBoldItalic.ttf") format("ttf");
    // ***** Gotham Book *****
    font-family: "gotham-book";
    src:    url("/assets/config/fonts/gotham/GothamBook.otf") format("otf");
    // ***** Gotham Book Italic *****
    font-family: "gotham-book-italic";
    src:    url("/assets/config/fonts/gotham/Gotham-BookItalic.otf") format("otf"),
            url("/assets/config/fonts/gotham/GothamBookItalic.ttf") format("ttf");
    // ***** Gotham Light *****
    font-family: "gotham-light";
    src:    url("/assets/config/fonts/gotham/Gotham-Light.otf") format("otf"),
            url("/assets/config/fonts/gotham/GothamLight.ttf") format("ttf");
    // ***** Gotham Light Italic *****
    font-family: "gotham-light";
    src:    url("/assets/config/fonts/gotham/GothamLightItalic.ttf") format("ttf");
    // ***** Gotham Ultra Italic *****
    font-family: "gotham-ultra-italic";
    src:    url("/assets/config/fonts/gotham/Gotham-UltraItalic.otf") format("otf");
    // ***** Gotham Thin *****
    font-family: "gotham-thin";
    src:    url("/assets/config/fonts/gotham/Gotham-Thin.otf") format("otf");
    // ***** Gotham Thin Italic *****
    font-family: "gotham-thin-italic";
    src:    url("/assets/config/fonts/gotham/Gotham-ThinItalic.otf") format("otf");
    // ***** Gotham X Light *****
    font-family: "gotham-x-light";
    src:    url("/assets/config/fonts/gotham/Gotham-XLight.otf") format("otf");
    // ***** Gotham X Light Italic *****
    font-family: "gotham-x-light-italic";
    src:    url("/assets/config/fonts/gotham/Gotham-XLightItalic.otf") format("otf");
    // ***** Gotham Medium *****
    font-family: "gotham-medium";
    src:    url("/assets/config/fonts/gotham/GothamMedium.ttf") format("ttf");
    // ***** Gotham Medium Italic *****
    font-family: "gotham-medium-italic";
    src:    url("/assets/config/fonts/gotham/GothamMediumItalic.ttf") format("ttf");
}

// ***** ***** Gotham ***** *****
$gotham-black: 'gotham-black';
$gotham-bold: 'gotham-bold';
$gotham-book-italic: 'gotham-book-italic';
$gotham-light: 'gotham-light';
$gotham-thin: 'gotham-thin';
$gotham-thin-italic: 'gotham-thin-italic';
$gotham-ultra-italic: 'gotham-ultra-italic';
$gotham-x-light: 'gotham-x-light';
$gotham-x-light-italic: 'gotham-x-light-italic';
$gotham-bold-italic: 'gotham-bold-italic';
$gotham-light-italic: 'gotham-light-italic';
$gotham-medium: 'gotham-medium';
$gotham-medium-italic: 'gotham-medium-italic';