<section>
    <div class="container">
        <div class="row">
            <div class="offset-1 col-10">
                <div class="about">
                    <h2>Sobre mi</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit nihil labore dolore quod, tenetur fugit voluptatum possimus quas itaque architecto pariatur facere animi atque consequuntur dolorum incidunt. Eveniet vitae perferendis dolorem accusamus facere dolorum iure quos odio exercitationem obcaecati soluta harum inventore, nobis fugiat repudiandae quisquam eum, minima ex? Perferendis.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="city">
        <img src="./assets/img/mobile/home/bg-city-mobile.png" alt="bg-city">
    </div>
</section>