@import '../../../styles.scss';

section {
    position: relative;
    background: url('../../../assets/img/mobile/home/bg-body-mobile-bn.png');
    background-size: cover;

    // ***** tablet *****
    @media screen and (min-width: $md) { 
        background: url('../../../assets/img/tablet/home/bg-body-tablet-bn.png');
    }

    // ***** desktop *****
    @media screen and (min-width: $lg) {
        background: url('../../../assets/img/desktop/home/bg-body-desktop-bn.png');
    }

    &::before, &::after {
        content: '';
        position: absolute;
        display: block;
    }

    &::before {
        background: url('../../../assets/img/mobile/home/wall-crash-mobile.png') center center no-repeat;
        background-size: cover;
        width: 100%;
        height: 213px;
        top: 0px;
        right: 0px;

        // ***** tablet *****
        @media screen and (min-width: $md) {
            background: url('../../../assets/img/tablet/home/wall-crash-tablet.png') center center no-repeat;
            height: 487px;
        }

        // ***** desktop *****
        @media screen and (min-width: $lg) {
            background: url('../../../assets/img/desktop/home/wall-crash-desktop.png') center center no-repeat;
            height: 691px;
            background-size: contain;
            top: -85px;
        }

        // ***** large *****
        @media screen and (min-width: $xl) {
            top: -58px;
        }
    }

    &::after {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 637px;
        @include gradient-vertical ($gradient-grey, $gradient-transparent);

        // ***** tablet *****
        @media screen and (min-width: $md) {
            height: 863px;
        }
    }

    .about {
        position: relative;
        z-index: 1;
        padding-top: 170px;
        padding-bottom: 259px;

        // ***** tablet *****
        @media screen and (min-width: $md) {
            padding-top: 259px;
            padding-bottom: 312px;
        }

        // ***** desktop *****
        @media screen and (min-width: $lg) {
            padding-top: 502px;
            padding-bottom: 354px;
        }

        h2 {
            color: $text-grey-light;
            margin-bottom: 60px;


            // ***** tablet *****
            @media screen and (min-width: $md) {
                margin-bottom: 125px;
            }

            // ***** tablet *****
            @media screen and (min-width: $lg) {
                margin-bottom: 86px;
            }
        }
        
        p {
            @include text ($gotham-medium, 16px, 20px, 500, normal);
            backdrop-filter: blur(50px);
            padding: 10px;
            border-radius: 5px;
            border: 1px solid $border-grey-light;
            color: $text-black;
            @include borderDance(1px);

            // ***** tablet *****
            @media screen and (min-width: $md) {
                padding: 30px;
            }
        }
    }

    .city {
        position: relative;

        &::before, &::after {
            content: '';
            position: absolute;
            display: block;
        }

        &::before {
            background: url('../../../assets/img/mobile/home/bg-city-mobile.png') center center no-repeat;
            background-size: cover;
            height: 305px;
            width: 100%;
            bottom: 0px;
            left: 0px;

            // ***** tablet *****
            @media screen and (min-width: $md) {
                background: url('../../../assets/img/tablet/home/bg-city-tablet.png') center center no-repeat;
                height: 305px;
            }

            // ***** desktop *****
            @media screen and (min-width: $lg) {
                background: url('../../../assets/img/desktop/home/bg-city.png') center center no-repeat;
                height: 407px;
            }
        }

        &::after {
            bottom: -123px;
            left: 0px;
            width: 100%;
            height: 123px;
            @include gradient-vertical ($gradient-city, $gradient-transparent);

            // ***** tablet *****
            @media screen and (min-width: $md) {
                height: 101px;
                bottom: -80px;
            }

            // ***** desktop *****
            @media screen and (min-width: $lg) {
                height: 101px;
                bottom: -96px;
            }
        }
    }
}