// ***** Coorp colors *****
$coorp-green: #8CC63F;
$coorp-yellow: #FCEE21;
$coorp-orange: #FBB03B;
$coorp-red: #ED1C24;
$coorp-violet: #FF00FF;
$coorp-blue: #0000FF;
$coorp-light-blue: #00FFFF;
$coorp-light-green: #00FF28;
$coorp-pink: #ED1E79;
$coorp-yellow-strong: #FFFF00;
$coorp-red-strong: #FF0000;

// ***** Colors tools *****
$acrobat-red: #E42127;
$acrobat-grey: #DAD9D9;
$angular-strong: #B52E31;
$angular-light: #E23237;
$animate-strong: #260600;
$animate-light: #FF401F;
$indesign-strong: #4B2B36;
$indesign-light: #FF408C;
$photoshop-strong: #0C0824;
$photoshop-light: #31C5F0;
$illustrator-strong: #423325;
$illustrator-light: #FF7F18;
$html-strong: #E44D26;
$html-light: #F16529;
$css-strong: #1572B6;
$css-light: #33A9DC;
$xd-strong: #2E001E;
$xd-light: #FF2BC2;
$git-strong: #DE4C36;
$git-light: rgb(223, 133, 119);
$bootstrap-strong: #563D7C;
$bootstrap-light: rgb(107, 72, 160);
$jquery-light: rgb(58, 143, 223);
$jquery-strong: #21609B;
$js-strong: #E6A329;
$js-light: #F1BF22;
$sass-light: rgb(255, 124, 189);
$sass-strong: #CF649A;
$wordpress-light: rgb(85, 178, 221);
$wordpress-strong: #21759B;

// ***** Texts *****
$text-white: #ffffff;
$text-grey-light: #f2f2f2;
$text-grey-prragraph: #a1a1a1;
$text-black-prragraph: #4c4c4c;
$text-black: #000000;

// ***** Backgrounds *****
$bg-white: #ffffff;
$bg-grey-light: #f2f2f2;
$bg-grey-light-80: rgba($bg-grey-light, .8);
$bg-icon-hamb-mobile: #707070;
$bg-black: #000000;
$bg-black-10: rgba($bg-black, .1);

// ***** Borders *****
$border-white: #ffffff;
$border-black: #000000;

// ***** Shadows *****
$shadow-white: #ffffff;
$shadow-black: #000000;
$shadow-black-10: rgba(#000000, .1);
$shadow-grey: #939393;
$shadow-menu: rgba($shadow-black, .6);

// ***** Gradients *****
$gradient-white: #ffffff;
$gradient-transparent: rgba($gradient-white, 0);
$gradient-grey: #727272;
$gradient-city: #7c7c7c;