// ***** Colores del logo *****
$blue-light-logo: #00ffda;
$yelow-logo: #edff00;
$green-logo: #36ff00;
$violet-logo: #ff00f3;
$blue-logo: #00cfff;
$green-ligjt: #55ff7c;

// ***** Texts *****
$text-white: #ffffff;
$text-black: #000000;

// ***** Backgrounds *****
$bg-white: #ffffff;
$bg-black: #000000;

// ***** Borders *****
$border-white: #ffffff;
$border-black: #000000;

// ***** Shadows *****
$shadow-white: #ffffff;
$shadow-black: #000000;