@mixin  text-type ($family, $size, $line, $wright, $style) {
    font-family: $family;
    font-size: $size;
    line-height: $line;
    font-weight: $wright;
    font-style: $style;
}

h1 {
    @include text-type($gotham-black, 30px, 36px, 800, normal);

    @media screen and (min-width: $md) {
        @include text-type($gotham-black, 36px, 42px, 800, normal);
    }

    @media screen and (min-width: $lg) {
        @include text-type($gotham-bold, 42px, 48px, 800, normal);
    }
}

h2 {
    @include text-type($gotham-black, 24px, 30px, 600, normal);

    @media screen and (min-width: $md) {
        @include text-type($gotham-black, 30px, 38px, 600, normal);
    }

    @media screen and (min-width: $lg) {
        @include text-type($gotham-bold, 36px, 42px, 600, normal);
    }
}

h3 {
    @include text-type($gotham-black, 18px, 24px, 400, normal);

    @media screen and (min-width: $md) {
        @include text-type($gotham-black, 24px, 30px, 400, normal);
    }

    @media screen and (min-width: $lg) {
        @include text-type($gotham-bold, 30px, 36px, 400, normal);
    }
}

p, a {
    @include text-type($gotham-black, 16px, 24px, 300, normal);

    @media screen and (min-width: $md) {
        @include text-type($gotham-black, 16px, 24px, 300, normal);
    }

    @media screen and (min-width: $lg) {
        @include text-type($gotham-bold, 18px, 26px, 300, normal);
    }
}