
// ***** Gradiente veritcal *****
@mixin gradient-vertical ($color1, $color2) {
    background: $color1;
    background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, $color1), color-stop(100%, $color2));
    background: -webkit-linear-gradient(top, $color1 0%, $color2 100%);
    background: -o-linear-gradient(top, $color1 0%, $color2 100%);
    background: -ms-linear-gradient(top, $color1 0%, $color2 100%);
    background: linear-gradient(to bottom, $color1 0%, $color2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#141422', GradientType=0 );
}

// ***** Gradiente horizontal *****
@mixin gradient-horizontal ($color1, $color2) {
    background: $color1;
    background: -moz-linear-gradient(left, $color1 0%, $color2 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, $color1), color-stop(100%, $color2));
    background: -webkit-linear-gradient(left, $color1 0%, $color2 100%);
    background: -o-linear-gradient(left, $color1 0%, $color2 100%);
    background: -ms-linear-gradient(left, $color1 0%, $color2 100%);
    background: linear-gradient(to right, $color1 0%, $color2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#141422', GradientType=1 );
}

// ***** Texto gradiente vertical *****
@mixin text-gradient-vertical ($color1, $color2) {
    background: $color1;
    background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, $color1), color-stop(100%, $color2));
    background: -webkit-linear-gradient(top, $color1 0%, $color2 100%);
    background: -o-linear-gradient(top, $color1 0%, $color2 100%);
    background: -ms-linear-gradient(top, $color1 0%, $color2 100%);
    background: linear-gradient(to bottom, $color1 0%, $color2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#141422', GradientType=0 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
}

// ***** Texto gradiente horizontal *****
@mixin text-gradient-horizontal ($color1, $color2) {
    background: $color1;
    background: -moz-linear-gradient(left, $color1 0%, $color2 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, $color1), color-stop(100%, $color2));
    background: -webkit-linear-gradient(left, $color1 0%, $color2 100%);
    background: -o-linear-gradient(left, $color1 0%, $color2 100%);
    background: -ms-linear-gradient(left, $color1 0%, $color2 100%);
    background: linear-gradient(to right, $color1 0%, $color2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#141422', GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
}