
// ***** Gradiente veritcal *****
@mixin gradient-vertical ($color1, $color2) {
    background: $color1;
    background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, $color1), color-stop(100%, $color2));
    background: -webkit-linear-gradient(top, $color1 0%, $color2 100%);
    background: -o-linear-gradient(top, $color1 0%, $color2 100%);
    background: -ms-linear-gradient(top, $color1 0%, $color2 100%);
    background: linear-gradient(to bottom, $color1 0%, $color2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#141422', GradientType=0 );
}

// ***** Gradiente horizontal *****
@mixin gradient-horizontal ($color1, $color2) {
    background: $color1;
    background: -moz-linear-gradient(left, $color1 0%, $color2 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, $color1), color-stop(100%, $color2));
    background: -webkit-linear-gradient(left, $color1 0%, $color2 100%);
    background: -o-linear-gradient(left, $color1 0%, $color2 100%);
    background: -ms-linear-gradient(left, $color1 0%, $color2 100%);
    background: linear-gradient(to right, $color1 0%, $color2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#141422', GradientType=1 );
}

// ***** Texto gradiente vertical *****
@mixin text-gradient-vertical ($color1, $color2) {
    background: $color1;
    background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, $color1), color-stop(100%, $color2));
    background: -webkit-linear-gradient(top, $color1 0%, $color2 100%);
    background: -o-linear-gradient(top, $color1 0%, $color2 100%);
    background: -ms-linear-gradient(top, $color1 0%, $color2 100%);
    background: linear-gradient(to bottom, $color1 0%, $color2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#141422', GradientType=0 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
}

// ***** Texto gradiente horizontal *****
@mixin text-gradient-horizontal ($color1, $color2) {
    background: $color1;
    background: -moz-linear-gradient(left, $color1 0%, $color2 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, $color1), color-stop(100%, $color2));
    background: -webkit-linear-gradient(left, $color1 0%, $color2 100%);
    background: -o-linear-gradient(left, $color1 0%, $color2 100%);
    background: -ms-linear-gradient(left, $color1 0%, $color2 100%);
    background: linear-gradient(to right, $color1 0%, $color2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#141422', GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
}

// ***** Borders gradiente rainbow *****
@mixin border-gradient-rainbow-vertical {
    background: rgba(139,198,63,1);
    background: -moz-linear-gradient(top, rgba(139,198,63,1) 0%, rgba(252,237,33,1) 10%, rgba(251,177,59,1) 20%, rgba(237,28,35,1) 30%, rgba(255,0,255,1) 40%, rgba(0,0,255,1) 50%, rgba(0,255,255,1) 60%, rgba(0,255,38,1) 70%, rgba(237,30,120,1) 80%, rgba(255,255,0,1) 90%, rgba(255,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(139,198,63,1)), color-stop(10%, rgba(252,237,33,1)), color-stop(20%, rgba(251,177,59,1)), color-stop(30%, rgba(237,28,35,1)), color-stop(40%, rgba(255,0,255,1)), color-stop(50%, rgba(0,0,255,1)), color-stop(60%, rgba(0,255,255,1)), color-stop(70%, rgba(0,255,38,1)), color-stop(80%, rgba(237,30,120,1)), color-stop(90%, rgba(255,255,0,1)), color-stop(100%, rgba(255,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(139,198,63,1) 0%, rgba(252,237,33,1) 10%, rgba(251,177,59,1) 20%, rgba(237,28,35,1) 30%, rgba(255,0,255,1) 40%, rgba(0,0,255,1) 50%, rgba(0,255,255,1) 60%, rgba(0,255,38,1) 70%, rgba(237,30,120,1) 80%, rgba(255,255,0,1) 90%, rgba(255,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(139,198,63,1) 0%, rgba(252,237,33,1) 10%, rgba(251,177,59,1) 20%, rgba(237,28,35,1) 30%, rgba(255,0,255,1) 40%, rgba(0,0,255,1) 50%, rgba(0,255,255,1) 60%, rgba(0,255,38,1) 70%, rgba(237,30,120,1) 80%, rgba(255,255,0,1) 90%, rgba(255,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(139,198,63,1) 0%, rgba(252,237,33,1) 10%, rgba(251,177,59,1) 20%, rgba(237,28,35,1) 30%, rgba(255,0,255,1) 40%, rgba(0,0,255,1) 50%, rgba(0,255,255,1) 60%, rgba(0,255,38,1) 70%, rgba(237,30,120,1) 80%, rgba(255,255,0,1) 90%, rgba(255,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(139,198,63,1) 0%, rgba(252,237,33,1) 10%, rgba(251,177,59,1) 20%, rgba(237,28,35,1) 30%, rgba(255,0,255,1) 40%, rgba(0,0,255,1) 50%, rgba(0,255,255,1) 60%, rgba(0,255,38,1) 70%, rgba(237,30,120,1) 80%, rgba(255,255,0,1) 90%, rgba(255,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bc63f', endColorstr='#ff0000', GradientType=0 );
}

@mixin border-gradient-raibow-horizontal {
    background: rgba(139,198,63,1);
    background: -moz-linear-gradient(left, rgba(139,198,63,1) 0%, rgba(252,237,33,1) 10%, rgba(251,177,59,1) 20%, rgba(237,28,35,1) 30%, rgba(255,0,255,1) 40%, rgba(0,0,255,1) 50%, rgba(0,255,255,1) 60%, rgba(0,255,38,1) 70%, rgba(237,30,120,1) 80%, rgba(255,255,0,1) 90%, rgba(255,0,0,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(139,198,63,1)), color-stop(10%, rgba(252,237,33,1)), color-stop(20%, rgba(251,177,59,1)), color-stop(30%, rgba(237,28,35,1)), color-stop(40%, rgba(255,0,255,1)), color-stop(50%, rgba(0,0,255,1)), color-stop(60%, rgba(0,255,255,1)), color-stop(70%, rgba(0,255,38,1)), color-stop(80%, rgba(237,30,120,1)), color-stop(90%, rgba(255,255,0,1)), color-stop(100%, rgba(255,0,0,1)));
    background: -webkit-linear-gradient(left, rgba(139,198,63,1) 0%, rgba(252,237,33,1) 10%, rgba(251,177,59,1) 20%, rgba(237,28,35,1) 30%, rgba(255,0,255,1) 40%, rgba(0,0,255,1) 50%, rgba(0,255,255,1) 60%, rgba(0,255,38,1) 70%, rgba(237,30,120,1) 80%, rgba(255,255,0,1) 90%, rgba(255,0,0,1) 100%);
    background: -o-linear-gradient(left, rgba(139,198,63,1) 0%, rgba(252,237,33,1) 10%, rgba(251,177,59,1) 20%, rgba(237,28,35,1) 30%, rgba(255,0,255,1) 40%, rgba(0,0,255,1) 50%, rgba(0,255,255,1) 60%, rgba(0,255,38,1) 70%, rgba(237,30,120,1) 80%, rgba(255,255,0,1) 90%, rgba(255,0,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(139,198,63,1) 0%, rgba(252,237,33,1) 10%, rgba(251,177,59,1) 20%, rgba(237,28,35,1) 30%, rgba(255,0,255,1) 40%, rgba(0,0,255,1) 50%, rgba(0,255,255,1) 60%, rgba(0,255,38,1) 70%, rgba(237,30,120,1) 80%, rgba(255,255,0,1) 90%, rgba(255,0,0,1) 100%);
    background: linear-gradient(to right, rgba(139,198,63,1) 0%, rgba(252,237,33,1) 10%, rgba(251,177,59,1) 20%, rgba(237,28,35,1) 30%, rgba(255,0,255,1) 40%, rgba(0,0,255,1) 50%, rgba(0,255,255,1) 60%, rgba(0,255,38,1) 70%, rgba(237,30,120,1) 80%, rgba(255,255,0,1) 90%, rgba(255,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bc63f', endColorstr='#ff0000', GradientType=1 );
}