@import '../../../../styles.scss';

nav {
    position: fixed;
    width: 100%;
    height: 60px;
    box-shadow: 0 3px 15px 0 $shadow-menu;
    background-color: $bg-grey-light-80;
    z-index: 100;

    // ***** tablet *****
    @media screen and (min-width: $md) {
        height: 70px;
    }

    .nav {
        position: relative;
        
        &__bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 9px 0px;
        }

        &__logo {
            display: block;
            width: 42px;
            height: 42px;

            // ***** tablet *****
            @media screen and (min-width: $md) {
                width: 54px;
                height: 54px;
            }
        }

        &__mobile {
            cursor: pointer;
            
            span {
                display: block;
                width: 44px;
                height: 1px;
                margin-bottom: 9px;
                background: $bg-icon-hamb-mobile;
                transition: .2s ease-in-out;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            &.active {
                span {
                    &:nth-of-type(1) {
                        transition-property: all;
                        transform: translateY(10px) rotate(-160deg);
                        transition-delay: .2s;
                    }

                    &:nth-of-type(2) {
                        opacity: 0;
                    }

                    &:nth-of-type(3) {
                        transition-property: all;
                        transform: translateY(-10px) rotate(160deg);
                        transition-delay: .4s;
                    }
                }
            }
        }

        &__menu {
            position: absolute;
            left: 0px;
            top: 0px;
            height: calc(100vh - 60px);
            display: flex;
            flex-direction: column;
            height: 100vh;
            width: 220px;
            backdrop-filter: blur(50px);
            background-color: $bg-black-10;
            padding: 177px 20px;
            transform: translateX(-220px);
            transition: .2s ease-in-out;

            // ***** tablet *****
            @media screen and (min-width: $md) {
                justify-content: space-between;
                width: 100vw;
                height: 124px;
                padding: 0;
                transform: translateX(0px);

                // ***** tablet *****
                @media screen and (min-width: $md) {
                    transform: translate(0px, -140px);
            }
            }
            
            &.active {
                transform: translate(0px, 0px);

                // ***** tablet *****
                @media screen and (min-width: $md) {
                        transform: translate(0px, 71px);
                }
            }
        }
        
        &__list {
            display: flex;
            flex-direction: column;
            
            // ***** tablet ***** 
            @media screen and (min-width: $md) {
                max-width: 768px;
                margin: auto;
                padding: 32.5px;
                flex-direction: row;
            }
        }

        &__item {
            margin-bottom: 41px;

            &:last-of-type {
                margin-bottom: 0px;
            }

            // ***** tablet ***** 
            @media screen and (min-width: $md) {
                margin-right: 66px;

                &:last-of-type {
                    margin-right: 0px;
                }
            }

            a {
                color: $text-grey-light;
                transition: .2s ease-in-out;

                &:hover {
                    text-shadow: 1px 1px 1px $shadow-black;
                }

                .btn-chevron {
                    color: $text-grey-light;
                    margin-left: 10px;
                    transition: .2s ease-in-out;

                    &.rotate {
                        transform: rotate(-180deg);
                    }
                }
            }
        }

        &__subMenu {
            margin-top: 10px;
            padding-left: 10px;
            opacity: 0;
            top: -70px;
            transition: .2s ease-in-out;
            height: auto;
            position: absolute;

            &.show {
                position: relative;
                top: 0px;
                opacity: 1;
            }
        }

        &__subItem {
            margin-bottom: 10px;

            &:last-of-type {
                margin-bottom: 0px;
            }

            a {
                @include text ($gotham-medium, 14px, 20px, 100, italic)
            }
        }

        &__created {
            position: absolute;
            text-align: center;
            bottom: 28px;
            color: $text-grey-prragraph;
            letter-spacing: -.45px;

            span {
                @include text ($gotham-medium, 12px, 28px, 100, normal);
                display: block;
                margin-bottom: 10px;
            }

            // ***** tablet *****
            @media screen and (min-width: $md) {
                display: none;
            }
        }
    }
}