<header>
    <nav>
        <div class="container">
            <div class="nav__content">
                <p class="nav__logo">
                    <a href="javascript:,"><img src="./assets/img/logo.png" alt="logo juanma"></a>
                </p>
                <p class="nav__mobile">
                    <button role="menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </p>
            </div>
        </div>
    </nav>
</header>