article {
    display: flex;
    align-items: center;
    
    .spinner {
        margin: auto;
        height: 100px;
        width: 100px;
    
        img {
            width: 100%;
        }
    }
}