<section>
    <!-- ***** Madrid ***** -->
    <article>
        <div class="container">
            <p class="img"><img src="../../../assets/img/history/madrid-history.png" alt="Madrid"></p>
            <div class="wrap__text">
                <h3>Lorem, ipsum.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione aspernatur itaque cupiditate dignissimos deserunt, molestias numquam temporibus voluptas hic similique nemo. Dignissimos veritatis optio officiis recusandae quia distinctio maxime rerum!</p>
            </div>
        </div>
    </article>

    <!-- ***** Balaguer ***** -->
    <article>
        <div class="container">
            <div class="wrap__article">
                <p class="img"><img src="../../../assets/img/history/balaguer-1-history.png" alt="Balaguer"></p>
                <div class="wrap__text">
                    <h3>Lorem, ipsum.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione aspernatur itaque cupiditate dignissimos deserunt, molestias numquam temporibus voluptas hic similique nemo. Dignissimos veritatis optio officiis recusandae quia distinctio maxime rerum!</p>
                </div>
            </div>
            <div class="wrap__article">
                <p class="img"><img src="../../../assets/img/history/balaguer-2-history.png" alt="Balaguer"></p>
                <div class="wrap__text">
                    <h3>Lorem, ipsum.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione aspernatur itaque cupiditate dignissimos deserunt, molestias numquam temporibus voluptas hic similique nemo. Dignissimos veritatis optio officiis recusandae quia distinctio maxime rerum!</p>
                </div>
            </div>
            <div class="wrap__article">
                <p class="img"><img src="../../../assets/img/history/balaguer-3-history.png" alt="Balaguer"></p>
                <div class="wrap__text">
                    <h3>Lorem, ipsum.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione aspernatur itaque cupiditate dignissimos deserunt, molestias numquam temporibus voluptas hic similique nemo. Dignissimos veritatis optio officiis recusandae quia distinctio maxime rerum!</p>
                </div>
            </div>
        </div>
    </article>

    <!-- ***** Lleida ***** -->
    <article>
        <div class="container">
            <p class="img"><img src="../../../assets/img/history/lleida-history.png" alt="Lleida"></p>
            <div class="wrap__text">
                <h3>Lorem, ipsum.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione aspernatur itaque cupiditate dignissimos deserunt, molestias numquam temporibus voluptas hic similique nemo. Dignissimos veritatis optio officiis recusandae quia distinctio maxime rerum!</p>
            </div>
        </div>
    </article>
</section>