<section>
    <h1>Mi taller</h1>
    <div class="clouds clouds--hero">
        <img src="../../../assets/img/clouds/cloud1.png" style="--i:1">
        <img src="../../../assets/img/clouds/cloud2.png" style="--i:2">
        <img src="../../../assets/img/clouds/cloud3.png" style="--i:3">
        <img src="../../../assets/img/clouds/cloud4.png" style="--i:4">
        <img src="../../../assets/img/clouds/cloud5.png" style="--i:5">
    </div>
    <p class="chevDown">
        <button>
            <i class="fas fa-chevron-down"></i>
        </button>
    </p>
</section>

<section>
    <div class="clouds clouds--body">
        <img src="../../../assets/img/clouds/cloud1-reverse.png" style="--i:1">
        <img src="../../../assets/img/clouds/cloud2-reverse.png" style="--i:2">
        <img src="../../../assets/img/clouds/cloud3-reverse.png" style="--i:3">
        <img src="../../../assets/img/clouds/cloud4-reverse.png" style="--i:4">
        <img src="../../../assets/img/clouds/cloud5-reverse.png" style="--i:5">
    </div>
    <div class="container">
        <div class="row">
            <div class="offset-1 col-10">
                <div class="tools">
                    <p class="tools__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, tempora!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-3 col-6">
                <div class="tools">
                    <article>
    
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>