<section>
    <h1>Mi taller</h1>
    <div class="clouds clouds--hero">
        <img src="./assets/img/clouds/cloud1.png" style="--i:1">
        <img src="./assets/img/clouds/cloud2.png" style="--i:2">
        <img src="./assets/img/clouds/cloud3.png" style="--i:3">
        <img src="./assets/img/clouds/cloud4.png" style="--i:4">
        <img src="./assets/img/clouds/cloud5.png" style="--i:5">
    </div>
    <p class="chevDown">
        <button>
            <i class="fas fa-chevron-down"></i>
        </button>
    </p>
</section>

<section>
    <div class="clouds clouds--body">
        <img src="./assets/img/clouds/cloud1-reverse.png" style="--i:1">
        <img src="./assets/img/clouds/cloud2-reverse.png" style="--i:2">
        <img src="./assets/img/clouds/cloud3-reverse.png" style="--i:3">
        <img src="./assets/img/clouds/cloud4-reverse.png" style="--i:4">
        <img src="./assets/img/clouds/cloud5-reverse.png" style="--i:5">
    </div>

    <div class="container">
        <div class="row">
            <div class="offset-1 col-10">
                <div class="info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt nemo, sint odio non vitae voluptatibus.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="my-tools">
        <div class="container">

            <!-- ***** Acrobat ***** -->
            <article class="my-tools__tool">
                <p>
                    <button type="button" role="checkbox" title="Acrobat">
                        <img src="./assets/img/tools/acrobat.png" alt="Adobe Acrobat">
                    </button>
                </p>
                <div class="wrap-description">
                    <div class="wrap-main">
                        <h3>Adobe Acobat</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas temporibus itaque ab fugiat adipisci voluptas mollitia aliquid corporis repudiandae necessitatibus.</p>
                        <div class="percent">
                            <span>% habilidad</span>
                            <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                        </div>
                    </div>
                    <div class="wrap-secondary">
                        <p>Otras utilidads</p>
                        <div class="tool-secondary">
                            <img src="./assets/img/tools/adobe-destiller.png" alt="Adobe Destiller">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, a. Veniam dolorem impedit cupiditate! Amet.</p>
                        </div>
                    </div>
                </div>
            </article>    

            <!-- ***** Angular ***** -->
            <article class="my-tools__tool">
                <p>
                    <button type="button" role="checkbox" title="Angular">
                        <img src="./assets/img/tools/angular.png" alt="Angular">
                    </button>
                </p>
                <div class="wrap-description">
                    <div class="wrap-main">
                        <h3>Angular</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas temporibus itaque ab fugiat adipisci voluptas mollitia aliquid corporis repudiandae necessitatibus.</p>
                        <div class="percent">
                            <span>% habilidad</span>
                            <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
                        </div>
                    </div>
                    <div class="wrap-secondary">
                        <p>Otras utilidads</p>
                        <div class="tool-secondary">
                            <img src="./assets/img/tools/angular-material.png" alt="Angular Material">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, a. Veniam dolorem impedit cupiditate! Amet.</p>
                        </div>
                    </div>
                </div>
            </article>  

            <!-- ***** Animate ***** -->
            <article class="my-tools__tool">
                <p>
                    <button type="button" role="checkbox" title="Animate">
                        <img src="./assets/img/tools/animate.png" alt="Adobe Animate">
                    </button>
                </p>
                <div class="wrap-description">
                    <div class="wrap-main">
                        <h3>Animate</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas temporibus itaque ab fugiat adipisci voluptas mollitia aliquid corporis repudiandae necessitatibus.</p>
                        <div class="percent">
                            <span>% habilidad</span>
                            <mat-progress-bar mode="determinate" value="45"></mat-progress-bar>
                        </div>
                    </div>
                </div>
            </article>  

            <!-- ***** Bootstrap ***** -->
            <article class="my-tools__tool">
                <p>
                    <button type="button" role="checkbox" title="Bootstrap">
                        <img src="./assets/img/tools/bootstrap.png" alt="Bootstrap">
                    </button>
                </p>
                <div class="wrap-description">
                    <div class="wrap-main">
                        <h3>Bootstrap</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas temporibus itaque ab fugiat adipisci voluptas mollitia aliquid corporis repudiandae necessitatibus.</p>
                        <div class="percent">
                            <span>% habilidad</span>
                            <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                        </div>
                    </div>
                </div>
            </article>  

            <!-- ***** Css ***** -->
            <article class="my-tools__tool">
                <p>
                    <button type="button" role="checkbox" title="Css">
                        <img src="./assets/img/tools/css.png" alt="CSS 3">
                    </button>
                </p>
                <div class="wrap-description">
                    <div class="wrap-main">
                        <h3>CSS 3</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas temporibus itaque ab fugiat adipisci voluptas mollitia aliquid corporis repudiandae necessitatibus.</p>
                        <div class="percent">
                            <span>% habilidad</span>
                            <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
                        </div>
                    </div>
                </div>
            </article>  

            <!-- ***** Git ***** -->
            <article class="my-tools__tool">
                <p>
                    <button type="button" role="checkbox" title="Git">
                        <img src="./assets/img/tools/git.png" alt="Git">
                    </button>
                </p>
                <div class="wrap-description">
                    <div class="wrap-main">
                        <h3>Git</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas temporibus itaque ab fugiat adipisci voluptas mollitia aliquid corporis repudiandae necessitatibus.</p>
                        <div class="percent">
                            <span>% habilidad</span>
                            <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
                        </div>
                    </div>
                    <div class="wrap-secondary">
                        <p>Otras utilidads</p>
                        <div class="tool-secondary">
                            <img src="./assets/img/tools/github.png" alt="Git Hub">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, a. Veniam dolorem impedit cupiditate! Amet.</p>
                        </div>
                        <div class="tool-secondary">
                            <img src="./assets/img/tools/gitlab.png" alt="Git Lab">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, a. Veniam dolorem impedit cupiditate! Amet.</p>
                        </div>
                    </div>
                </div>
            </article>  
            
            <!-- ***** Html 5 ***** -->
            <article class="my-tools__tool">
                <p>
                    <button type="button" role="checkbox" title="Html 5">
                        <img src="./assets/img/tools/html.png" alt="HMTL 5">
                    </button>
                </p>
                <div class="wrap-description">
                    <div class="wrap-main">
                        <h3>HTML 5</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas temporibus itaque ab fugiat adipisci voluptas mollitia aliquid corporis repudiandae necessitatibus.</p>
                        <div class="percent">
                            <span>% habilidad</span>
                            <mat-progress-bar mode="determinate" value="95"></mat-progress-bar>
                        </div>
                    </div>
                    <div class="wrap-secondary">
                        <p>Otras utilidads</p>
                        <div class="tool-secondary">
                            <img src="./assets/img/tools/pug.png" alt="Pug">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, a. Veniam dolorem impedit cupiditate! Amet.</p>
                        </div>
                    </div>
                </div>
            </article>  

            <!-- ***** Illustrator ***** -->
            <article class="my-tools__tool">
                <p>
                    <button type="button" role="checkbox" title="Illustrator">
                        <img src="./assets/img/tools/illustrator.png" alt="Adobe illustrator">
                    </button>
                </p>
                <div class="wrap-description">
                    <div class="wrap-main">
                        <h3>Adobe Illustrator</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas temporibus itaque ab fugiat adipisci voluptas mollitia aliquid corporis repudiandae necessitatibus.</p>
                        <div class="percent">
                            <span>% habilidad</span>
                            <mat-progress-bar mode="determinate" value="95"></mat-progress-bar>
                        </div>
                    </div>
                </div>
            </article>    

            <!-- ***** Indesign ***** -->
            <article class="my-tools__tool">
                <p>
                    <button type="button" role="checkbox" title="Indesign">
                        <img src="./assets/img/tools/indesign.png" alt="Adobe indesign">
                    </button>
                </p>
                <div class="wrap-description">
                    <div class="wrap-main">
                        <h3>Adobe Indesign</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas temporibus itaque ab fugiat adipisci voluptas mollitia aliquid corporis repudiandae necessitatibus.</p>
                        <div class="percent">
                            <span>% habilidad</span>
                            <mat-progress-bar mode="determinate" value="95"></mat-progress-bar>
                        </div>
                    </div>
                </div>
            </article>    

            <!-- ***** jQuery ***** -->
            <article class="my-tools__tool">
                <p>
                    <button type="button" role="checkbox" title="jQuery">
                        <img src="./assets/img/tools/jquery.png" alt="jQuery">
                    </button>
                </p>
                <div class="wrap-description">
                    <div class="wrap-main">
                        <h3>jQuery</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas temporibus itaque ab fugiat adipisci voluptas mollitia aliquid corporis repudiandae necessitatibus.</p>
                        <div class="percent">
                            <span>% habilidad</span>
                            <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
                        </div>
                    </div>
                </div>
            </article>    

            <!-- ***** Jira ***** -->
            <article class="my-tools__tool">
                <p>
                    <button type="button" role="checkbox" title="Jira">
                        <img src="./assets/img/tools/jira.png" alt="Jira">
                    </button>
                </p>
                <div class="wrap-description">
                    <div class="wrap-main">
                        <h3>Jira</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas temporibus itaque ab fugiat adipisci voluptas mollitia aliquid corporis repudiandae necessitatibus.</p>
                        <div class="percent">
                            <span>% habilidad</span>
                            <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
                        </div>
                    </div>
                </div>
                        </article>   

            <!-- ***** js ***** -->
            <article class="my-tools__tool">
                <p>
                    <button type="button" role="checkbox" title="Javascript">
                        <img src="./assets/img/tools/js.png" alt="JavaScript">
                    </button>
                </p>
                <div class="wrap-description">
                    <div class="wrap-main">
                        <h3>JavaScript</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas temporibus itaque ab fugiat adipisci voluptas mollitia aliquid corporis repudiandae necessitatibus.</p>
                        <div class="percent">
                            <span>% habilidad</span>
                            <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                        </div>
                    </div>
                </div>
            </article>
            
            <!-- ***** node ***** -->
            <article class="my-tools__tool">
                <p>
                    <button type="button" role="checkbox" title="Node">
                        <img src="./assets/img/tools/node.png" alt="Node">
                    </button>
                </p>
                <div class="wrap-description">
                    <div class="wrap-main">
                        <h3>NodeJS</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas temporibus itaque ab fugiat adipisci voluptas mollitia aliquid corporis repudiandae necessitatibus.</p>
                        <div class="percent">
                            <span>% habilidad</span>
                            <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
                        </div>
                    </div>
                </div>
            </article>    

            <!-- ***** Photoshop ***** -->
            <article class="my-tools__tool">
                <p>
                    <button type="button" role="checkbox" title="Photoshop">
                        <img src="./assets/img/tools/photoshop.png" alt="Adobe Photoshop">
                    </button>
                </p>
                <div class="wrap-description">
                    <div class="wrap-main">
                        <h3>Adobe Photoshop</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas temporibus itaque ab fugiat adipisci voluptas mollitia aliquid corporis repudiandae necessitatibus.</p>
                        <div class="percent">
                            <span>% habilidad</span>
                            <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                        </div>
                    </div>
                </div>
            </article>    

            <!-- ***** Sass ***** -->
            <article class="my-tools__tool">
                <p>
                    <button type="button" role="checkbox" title="Sass">
                        <img src="./assets/img/tools/sass.png" alt="Sass">
                    </button>
                </p>
                <div class="wrap-description">
                    <div class="wrap-main">
                        <h3>Sass</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas temporibus itaque ab fugiat adipisci voluptas mollitia aliquid corporis repudiandae necessitatibus.</p>
                        <div class="percent">
                            <span>% habilidad</span>
                            <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
                        </div>
                    </div>
                </div>
            </article>    

            <!-- ***** Wordpress ***** -->
            <article class="my-tools__tool">
                <p>
                    <button type="button" role="checkbox" title="Wordpress">
                        <img src="./assets/img/tools/wordpress.png" alt="Wordpress">
                    </button>
                </p>
                <div class="wrap-description">
                    <div class="wrap-main">
                        <h3>Wordpress</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas temporibus itaque ab fugiat adipisci voluptas mollitia aliquid corporis repudiandae necessitatibus.</p>
                        <div class="percent">
                            <span>% habilidad</span>
                            <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                        </div>
                    </div>
                </div>
            </article>    

            <!-- ***** Xd ***** -->
            <article class="my-tools__tool">
                <p>
                    <button type="button" role="checkbox" title="Adobe Xd">
                        <img src="./assets/img/tools/xd.png" alt="Xd">
                    </button>
                </p>
                <div class="wrap-description">
                    <div class="wrap-main">
                        <h3>Adobe Xd</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas temporibus itaque ab fugiat adipisci voluptas mollitia aliquid corporis repudiandae necessitatibus.</p>
                        <div class="percent">
                            <span>% habilidad</span>
                            <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                        </div>
                    </div>
                    <div class="wrap-secondary">
                        <p>Otras utilidads</p>
                        <div class="tool-secondary">
                            <img src="./assets/img/tools/zeplin.png" alt="Zeplin">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, a. Veniam dolorem impedit cupiditate! Amet.</p>
                        </div>
                        <div class="tool-secondary">
                            <img src="./assets/img/tools/invision.png" alt="Invision">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, a. Veniam dolorem impedit cupiditate! Amet.</p>
                        </div>
                    </div>
                </div>
            </article>  
        </div>
    </div>
    <div class="deco-end-tools"></div>
</section>