// ***** ***** Animaciones ***** *****
// ***** Animación para escalar imagenes *****
.scaleHero {
    transform: scale(1.1);
    animation: scaleHero 3s;

    @keyframes scaleHero {
        from { transform: scale(1); }
        to { transform: scale(1.1); }
    }
}

// ***** Animación para cambiar el color de la sombra de textos *****
.shadowDance {
    animation: shadowDance 20s infinite;

    @keyframes shadowDance {
        0% { text-shadow: 0px 0px 10px $coorp-green; };
        10% { text-shadow: 0px 0px 10px $coorp-yellow; };
        20% { text-shadow: 0px 0px 10px $coorp-orange; };
        30% { text-shadow: 0px 0px 10px $coorp-red; };
        40% { text-shadow: 0px 0px 10px $coorp-violet; };
        50% { text-shadow: 0px 0px 10px $coorp-blue; };
        60% { text-shadow: 0px 0px 10px $coorp-light-blue; };
        70% { text-shadow: 0px 0px 10px $coorp-light-green; };
        80% { text-shadow: 0px 0px 10px $coorp-pink; };
        90% { text-shadow: 0px 0px 10px $coorp-yellow-strong; };
        100% { text-shadow: 0px 0px 10px $coorp-red-strong; };
    }
}

// ***** Animación para cambiar el color de los bordes *****
.borderDance {
    animation: borderDance 20s infinite;

    @keyframes borderDance {
        0% { border: 2px solid $coorp-green; };
        10% { border: 2px solid $coorp-yellow; };
        20% { border: 2px solid $coorp-orange; };
        30% { border: 2px solid $coorp-red; };
        40% { border: 2px solid $coorp-violet; };
        50% { border: 2px solid $coorp-blue; };
        60% { border: 2px solid $coorp-light-blue; };
        70% { border: 2px solid $coorp-light-green; };
        80% { border: 2px solid $coorp-pink; };
        90% { border: 2px solid $coorp-yellow-strong; };
        100% { border: 2px solid $coorp-red-strong; };
    }
}

// ***** Animación para las nubes *****
.cloudsAnimated {
    animation: clouds calc(8s * var(--i)) linear infinite;

    @keyframes clouds {
        0% { transform: translateX( -100% ); };
        100% { transform: translateX( 100% ); };
    }
}

// ***** Animación efecto lampara para los logos de las tools *****
@mixin lightEffect ( $name, $color ) {
    animation: $name 3s;

        @keyframes #{ $name }  {
        0% {filter: drop-shadow( 0px 0px 10px $color );}
        5% {filter: drop-shadow( 0px 0px 10px transparent );}
        10% {filter: drop-shadow( 0px 0px 10px $color );}
        50% {filter: drop-shadow( 0px 0px 10px transparent );}
        70% {filter: drop-shadow( 0px 0px 10px $color );}
        75% {filter: drop-shadow( 0px 0px 10px transparent );}
        80% {filter: drop-shadow( 0px 0px 10px $color );}
        100% {filter: drop-shadow( 0px 0px 10px $color );}
    }

    filter: drop-shadow( 0px 0px 10px $color );
}

// ***** Animación para cambiar el color de los bordes *****
@mixin borderDance () {
    animation: borderDance 20s infinite;

    @keyframes #{borderDance} {
        0% { border: 5px solid $coorp-green; };
        10% { border: 5px solid $coorp-yellow; };
        20% { border: 5px solid $coorp-orange; };
        30% { border: 5px solid $coorp-red; };
        40% { border: 5px solid $coorp-violet; };
        50% { border: 5px solid $coorp-blue; };
        60% { border: 5px solid $coorp-light-blue; };
        70% { border: 5px solid $coorp-light-green; };
        80% { border: 5px solid $coorp-pink; };
        90% { border: 5px solid $coorp-yellow-strong; };
        100% { border: 5px solid $coorp-red-strong; };
    }
}