// ***** ***** Animaciones ***** *****
// ***** Animación de los hero de todas las secciones *****
.scaleHero {
    transform: scale(1.1);
    animation: scaleHero 3s;

    @keyframes scaleHero {
        from { transform: scale(1); }
        to { transform: scale(1.1); }
    }

    transform: s;
}