@import '../../config/vars/sizes.scss';
// ***** ***** Posiciones compartidas en diferentes pantallas ***** *****
// ***** Chevron down heros *****
.chevronHero {
    z-index: 1;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
    transition: .2s ease-in-out;
    
    &:hover {
        bottom: 30px;
    }

    i {
        color: $text-grey-light;
        font-size: 18px;

        // ***** tablet *****
        @media screen and (min-width: $md) {
            font-size: 22px;
        }

        // ***** desktop *****
        @media screen and (min-width: $lg) {
            font-size: 40px;
            text-shadow: 0px 8px 1px $shadow-black;
        }
    }
}
