@import '../../../styles.scss';

section {
    background: url('../../../assets/img/mobile/history/hero-history.png') center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;

    // ***** tablet *****
    // @media screen and (min-width: $md) {
    //     background: url('../../../assets/img/tablet/history/hero-history.png') center center no-repeat;
    //     background-size: cover;
    // }

    // ***** desktop *****
    @media screen and (min-width: $lg) {
        background: url('../../../assets/img/desktop/history/hero-history.png') center center no-repeat;
        background-size: cover;
    }

    .hero {
        height: 100%;
        width: 100%;
        position: relative;

        .wrap {
            color: $text-grey-light;

            // ***** desktop *****
            @media screen and (min-width: $lg) {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            &__name {
                position: absolute;
                display: block;
                transform: rotate(90deg);
                left: -150px;
                top: 300px;
                text-align: right;

                // ***** desktop *****
                @media screen and (min-width: $lg) {
                    position: relative;
                    transform: rotate(0deg);
                    left: 0px;
                    bottom: 0px;
                }
            }

            &__skills {
                position: absolute;
                right: 0px;
                top: 140px;

            // ***** tablet *****
            @media screen and (min-width: $md) {
                backdrop-filter: blur(30px);
                padding: 15px 20px;
            }
                
                p {
                    span {
                        display: block;
                        text-align: center;
                    }
                }
            }
        }
    }
}