<section>
    <div class="container">
        <div class="hero">
            <div class="wrap">
                <div class="wrap__name">
                    <h1>Juan María Molins Cortés</h1>
                    <p>10 - 07 - 1987</p>
                </div>
                <div class="wrap__skills">
                    <p>
                        <span>Diseño Gráfico</span>
                        <span>Diseño UI/UX</span>
                        <span>Maquetación Web</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-citys></app-citys>