<footer>
    <ul class="footer__list">
        <li class="footer__item">
            <a href="javascript:;" title="Aviso legal">Aviso legal</a>
        </li>
        <li class="footer__item">
            <a href="javascript:;" title="Política de cookies">Política de cookies</a>
        </li>
        <li class="footer__item">
            <a href="javascript:;" title="Política de privacidad">Política de privacidad</a>
        </li>
    </ul>

    <p class="footer__logo">
        <a [routerLink]="['/home']" title="home">
            <img src="./assets/img/logo.png" alt="Logo Juan María">
        </a>
    </p>

    <p class="footer__info">
        <span class="copy">&copy; {{ anio }}</span>
        <span>Todos los derechos reservados.</span>
        <span>Sitio creado con mucho</span>
        <i class="far fa-heart"></i>
    </p>
</footer>
